# Dependências
/node_modules

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de build
/dist

# Arquivos de ambiente
.env

# Arquivos de editor
.vscode
.idea
*.swp
*.swo

# Sistema Operacional
.DS_Store